.skills {
    /*min-height: 100vh;*/
    background-color: aqua;
}

.container {
    flex-direction: column;
    justify-content: flex-start;
}

.skill {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 750px){
    .skill{
        justify-content: center;
    }

}