.workHome {
    height: 70vh;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.button {
    background-color: #61dafb;
    width: 150px;
}