.works{

    background-color: #6c8c60;
    /*height: 100vh;*/
    align-items: flex-start;

}
.container{
    flex-direction: column;
    justify-content: flex-start;
}
.work{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
@media screen and (max-width: 750px){
    .work{
        justify-content: center;
    }

}