body {
  font-family: Jost,Arial,Helvetica,sans-serif;
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: 0;
  font-weight: 400;
  color: #888;
  background-color: #1d1b19;
  word-break: break-word;
}
div {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: none;
}
